<div class="content-header">
    <button class="hamburger-menu" id="hamburgerBtn">
        <span class="material-symbols-outlined">menu</span>
    </button>
    <a class="logo-header" href="{{ url_for('forum.feed') }}">
        <img class="kk-logo" src="{{url_for('static', filename='images/kk_logo.png')}}" alt="KampongKonek logo">
        <h2 class="site-name">KampongKonek</h2>
    </a>
    <div class="hamburger-hidden">
        <span class="material-symbols-outlined">square</span>
    </div>
</div>